.numb-moments{
    color: #252420;
    width: 390px;
    height: auto;
    /* margin-left: 100px;
    margin-top: 40px ; */
    
    
}

.numb-moments-title {
    color: #252420;
    width: 390px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.numb-moments-title span{
    color: #252420;
    width: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}





.numb-moments-contents .username{
    background-color: transparent;
    font-weight: 600;


}
.numb-moments-contents span{
    font-size: 12px;
    font-weight: 600;
    background-color: #F1FAEE;
    border-radius: 16px;
    padding: 6px;
    line-height: 30px;
    color: #498962;
  
}

.numb-moments-title h1 {
    font-size: 16px;
    font-weight: 600 ;
    color: #252420;
}