.header-nav-box {
    width: 335px;
    height: 20px;
    background-color: transparent ;

    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: visible;

    margin-top: 56px;
    margin-left: 14px;
    
}

button {
    background-color: transparent;
    border: none;
}
