.main-page {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Pretendard', sans-serif;

}

.HeroSection-left{
   
    display: flex;
    flex-direction: column;
  
}

.HeroSection {
    margin-top: 30px;
    display:flex;
    flex-direction: row;
}

