.to-do-list {
    width: 390px;
    height: auto;
    /* margin-left: 100px;
    margin-top: 40px ; */


}

.to-do-list-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px

}





.to-do-list-title h1 {
    font-size: 16px;
    font-weight: 600 ;
    color: #383325;

}


