.roller-container {
  height: 120px; 
  width: 80px;
  overflow-y: scroll;
  cursor: grab;
  /* 스크롤바 숨기기 */
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.roller-container::-webkit-scrollbar {
  display: none;
}
.roller-container:active {
  cursor: grabbing;
}
.roller-content {
  padding: 40px;
}
.roller-item {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: #828282;
  transition: color 0.2s, font-weight 0.2s; /* 부드러운 전환 효과 */
}

.roller-item.active {
  color: #346547; /* 진한 녹색 */
  font-weight: 600;
  font-size: 18px;
}