.Main-Dash-Container {
    width: 375px;
    height: 1414px;
    background-color: #FFFCF9;
    border-radius: 48px 48px 0px 0px;
    box-shadow: 0px 0px 24px #E1F0D9 ;
    overflow: hidden;
    display: flex;
    justify-content: center;
    
}