.App {
    width: 390px;
    height: 844px;
    font-family: 'Pretendard', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, #C5E9CE 0%, rgba(255, 255, 255, 0.75) 28%);
}

  
